  body {
    margin: 0;
    
  }

  .hero-image {
    background-image: url("palta.jpeg");
    background-color: #f4b3d0;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: darkslategray;
    font-family: 'Righteous', cursive;
    letter-spacing: 3px;
    font-size: 20px; 
  }


  

}


